@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
@inject NavigationManager MyNavigationManager

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<button class="btn btn-primary" @onclick="Login">Login</button>


<button class="btn btn-primary" @onclick="ListBlobsAsync">List Blobs</button>

<p role="status">Current count: @blobsString</p>

@code {
    private int currentCount = 0;
    private AzureADLogin.PseudoPrincipal pseudoPrincipal = new AzureADLogin.PseudoPrincipal();

    private string blobsString = "Has not searched for blobs yet.";


    private void IncrementCount()
    {
        currentCount++;
    }

    private async void Login()
    {
        string redirectURI = MyNavigationManager.BaseUri;
        if(redirectURI.Split(":").Length > 2)
        {
            redirectURI = "http:" + redirectURI.Split(":")[1] + "/";
        }
        blobsString = $"redirectURI = \n {redirectURI}";
        await AzureADLogin.PseudoPrincipal.LoginAD(redirectURI);
    }

    private async void ListBlobsAsync()
    {
        var blobNames = await Storage.Blobs.MyListBlobsAsync("storagethf", "randomstuff");

        
        if ( blobNames != null && blobNames.Any() )
        {
            blobsString = "";
            foreach (string blobName in blobNames)
            {
                blobsString += blobName + ",\t"; 
            }
        }
        else
        {
            blobsString = "No blobs found.";
        }
        
    }

}
